.banner {
  background-image: url("../../images/background.jpg");
  color: white;
  height: 590px;
  display: flex;
  align-items: center;
  background-size: cover;
}
.banner p {
  font-size: 20px;
}

